
# sbt
project/project/
project/target/
target/
actor Module/target/
common module/target/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea



# other?
.history
.scala_dependencies
.cache-main

#general
*.class
